@font-face{
    font-family: "Neutra-Text";
    src: url('../fonts/NT.otf');
}

@font-face{
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

/* NAVBAR */

.navbar-fh{
    background-color:#BAE5FF !important;
}

.dropdown-item:hover{
    background-color:#3AA4F6 !important;
    color: white !important;
}

.dropdown-item:focus{
    background-color:#3AA4F6 !important;
    color: white !important;
}

.dropdown-item:active{
    background-color:#3AA4F6 !important; 
    color: white !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.logo-home{
    width:65px;
    height:65px;
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 1;
  }

  @media (max-width: 991px) {
    .menu-items {
      margin-top: 40px;
    }
  }

/* Slide */

@media(min-width:958px){
    .carousel{
        height:700px !important
    }
}

@media(max-width:958px){
    .carousel{
        height:500px !important
    }
    #carousel-container{
        width:100% !important;
        height: 100% !important;
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #3AA4F6;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #3AA4F6;
}

/* About */
.white-section{
    background-color: white;
}

h1,
h2,
h3,
h4{
    font-family: Neutra-Text;
}

hr.separator{
    margin-top:-5px;
    border: 2px solid #3AA4F6;
    width: 80px;
    border-radius: 5px;
}

@media (min-width:771px){
    .timeline-text{
        margin-left: 200px;
    }
}

@media (max-width:771px){
    .timeline-text{
        margin-left: 50px;
    }
}

/* Work */
.card{
    background-color: #BAE5FF !important;
    border: none !important;
    border-radius: 0px 0px !important;
}

.work-link{
    color: #172e54;
}

/* All work */
.folio-card{
    background-color: #ffffff !important;
}

.my-link{
    color: black;
}

.download-card{
    height: 250px;
}

.download-card-prov{
    height: 200px;
}

.download-card-reading{
    height:220px;
}

.mypagination {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .mypagination:hover {
    background-color: #3AA4F6;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #BAE5FF;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }

code{
    color: #3AA4F6;
}

/* Body */
body{
    background-color: #F3F6F6;
    font-family: Roboto;
    font-size: 15px;
}

/* Footer */

footer{
    background-color: #BAE5FF;
}